
body {
    background: goldenrod;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
    
.jumbotron {
    margin: auto;
    padding: 20px;
    background-color: rgb(105, 98, 98);
    color: whitesmoke;
    border-radius: 0;
    /*position: -webkit-sticky;
    position: sticky;
    top: 0;*/
    }

#landing {
    margin: auto;
    background-color: azure;
    padding: 30px;
    

}

#wrapper {
    /*background-image: url("images/yellow4.jpg");*/
    margin-top: 25px;
}

h1, p {
    color: black;
}

.p-heading {
    font-size: 20px;
}

#start-button {
    float: right;
    margin: 40px 5px 15px 0;
    border: 2px solid gray;
    font-weight: bold;
    font-size: 25px;
}

hr {
    width: cover;
    margin: auto;
    height: 5px;
    background-color:#666;
    opacity: .5;
}

  
.vl {
    width: 6px;
    background-color: solid green;
    height: 100px;
}

#sidebar {
    padding: 0 0 40px 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.sidewording {
    font-size: 14px;

}

/*assessment questions*/
#assessment {
    margin-left: 50px;
    float: left;
    padding: 0 50px 0 0;
    position: relative;
    /*transform: translateX(30%);*/
    /*background: gray;
    background-size: 900px;
    width: 900px;*/
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.button {
    float: right;
    margin: 10px 60px 0 10px;
    border-radius: 5px;
}

.p-results {
    margin-top: 40px;
    
}
